
<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header mb-5">
                    <h5 class=" card-category">Exome Dashboard</h5>
                    <h3 class=" card-title">Case List</h3>
                    <h4>
                        Welcome to Exome Dashboard, an exome analysis simulator. The cases below are based on simulated exomes.
                        In all cases the  assumption is that the trio consisting of mother, father, and the proband (the patient)  had their
                        exome sequenced, and that of the three, the only person with the described phenotype is the proband.
                    </h4>

                    <h4>
                        The goal is to find the mutated gene which is the most likely cause of the reported phenotype.
                    </h4>



                </div>
                <div class=" card-body">

                    <div class=" typography-line">
                        <h2><a routerLink="/dashboard/001" > Case 1 </a> A wrinkly woman case</h2>
                    </div>
                    <div class=" typography-line">
                        <a href="https://bmcdermatol.biomedcentral.com/articles/10.1186/s12895-019-0084-6" target="_blank"></a>
                        <p></p>
                    </div>

                    <div class=" typography-line">
                        <h2><a routerLink="/dashboard/002" > Case 2 </a> Trigonocephaly</h2>
                    </div>
                    <div class=" typography-line">
                        <a href="https://www.nature.com/articles/s41598-017-19109-9" target="_blank"></a>
                        <p></p>
                    </div>


                    <div class=" typography-line">
                        <h2><a routerLink="/dashboard/003" > Case 3 </a> A family with paraplegia</h2>
                    </div>
                    <div class=" typography-line">
                        <a href="http://molecularcasestudies.cshlp.org/content/3/4/a001537.full" target="_blank"></a>
                        <p></p>
                    </div>


                    <div class=" typography-line">
                        <h2><a routerLink="/dashboard/004" > Case 4 </a> Familial bilateral cryptorchidism</h2>
                    </div>
                    <div class=" typography-line">
                        <a href="https://jmg.bmj.com/content/56/11/727" target="_blank"></a>
                        <p></p>
                    </div>


                    <div class=" typography-line">
                        <h2><a routerLink="/dashboard/005" > Case 5 </a> A boy with neurodevelopmental disorder</h2>
                    </div>
                    <div class=" typography-line">
                        <a href="https://www.cell.com/ajhg/fulltext/S0002-9297(19)30386-6" target="_blank"></a>
                        <p></p>
                    </div>

                    <div class=" typography-line">
                        <h2><a routerLink="/dashboard/006" > Case 6 </a>  Early infantile epileptic encephalopathy</h2>
                    </div>
                    <div class=" typography-line">
                        <a href="https://www.cell.com/ajhg/fulltext/S0002-9297(18)30004-1" target="_blank"></a>
                        <p></p>
                    </div>

                    <div class=" typography-line">
                        <h2><a routerLink="/dashboard/007" > Case 7 </a> A man with lipid storage disorder</h2>
                    </div>
                    <div class=" typography-line">
                        <a href="http://molecularcasestudies.cshlp.org/content/2/6/a001222.full" target="_blank"></a>
                        <p></p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
